body {
  background-color: rgb(228, 228, 228);
}
input {
  font-size: 1.2rem;
  padding: 4px;
  border-radius: 8px;
  margin-right: 20px;
}
label {
  font-size: 1.2rem;
  margin-bottom: 8px;
  margin-top: 19px;
}
form {
  margin-left: 20px;
}
button {
  display: block;
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 4px;
  background-color: rgba(164, 98, 164, 0.855);
}
.confirmacao {
  max-width: 100%;
  width: 20px;
  margin-left: 20px;
}
.texto-pequeno {
  margin-top: 5px;
  margin-bottom: 10px;
}
.titulo-sacola {
  padding-left: 25px;
  padding-right: 25px;
}
.sacola {
  max-width: 100%;
  width: 340px;
  margin-left: 20px;
  margin-right: 20px;
  display: block;
}
.grid {
  display: grid;
  grid-template-columns: auto auto;
  place-content: center;
  margin-top: 7.5rem;
}
.item {
  background-color: #ccc;
  margin: 10px;
  border-radius: 20px;
}
.grid h1 {
  text-align: center;
}
.grid label {
  display: block;
}
